<!-- menu.component.html -->
  <div class="container">
    <h1>Este es el hermoso home</h1>
  </div>

  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
<nav>
  <div *ngIf="isAuthenticated$ | async; else notLoggedIn">
    <!-- Opciones para usuario autenticado -->
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="/home/crewList">Mi lista de grupos</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/home/crew">Crear Grupo</a></li>
    </ul>
    <button (click)="logout()">Cerrar sesión</button>
  </div>

  <ng-template #notLoggedIn>
    <!-- Opciones para usuario no autenticado -->
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="/user/login">Iniciar sesión</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/user/signin">Registrarse</a></li>
    </ul>
  </ng-template>
</nav>
