<div class="container">
  <h2>{{ editingCrewId !== null ? 'Editar' : 'Crear' }} Tripulación</h2>

  <form (ngSubmit)="createOrEditCrew()">
    <div class="form-group">
      <label for="crewName">Nombre de la Tripulación:</label>
      <input [(ngModel)]="crewName" name="crewName" type="text" class="form-control" required>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input [(ngModel)]="isPrivate" name="isPrivate" type="checkbox" class="form-check-input">
        <label class="form-check-label" for="isPrivate">¿Es privada?</label>
      </div>
    </div>

    <div class="form-group">
      <label for="category">Categoría:</label>
      <select [(ngModel)]="category" name="category" class="form-control" required>
        <option value=1>Familia</option>
        <option value=2>Viaje</option>
        <option value=3>Salida</option>
        <option value=4>Otro</option>
      </select>
    </div>
    <br>

    <button type="submit" class="btn btn-primary">{{ editingCrewId !== null ? 'Guardar cambios' : 'Crear Tripulación' }}</button>
  </form>

  <!-- Muestra información de la tripulación existente cuando estás en modo de edición -->
  <div *ngIf="editingCrewId !== null && existingCrew" class="previous-info">
    <br>
    <br>

    <h3>Datos previos </h3>
    <p>Nombre: {{ existingCrew.name }}</p>
    <p>¿Es privada?: {{ existingCrew.isPrivate ? 'Sí' : 'No' }}</p>
    <p>Categoría: {{ getCategoryName(existingCrew.category) }}</p>

  </div>
</div>

